body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-decoration: dashed;
    /* text-transform: uppercase; */
    text-align: justify;
    text-indent: 2em;
    line-height: 1;
    letter-spacing: 0.2em;
    word-spacing: 1em;

    font-weight: 100;

}